.card{
    width: 50%;
    height: 50%;
}
.divCard{
    width: 60%;
    height: 100%;
    padding-left: 40%;
    padding-top: 5%;
    background-color: #eaeaea;
}

.mat-form-field {
    width: 100%;
    min-width: 55%;
    min-height: 15%;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
}
.botaoImovel{
    width: 100%;
}