.card{
    width: 100%;
    margin-left: 5%;
    /*
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 50px;*/
}
.item{
    padding-right: 25%;
}
.footer{
    padding-bottom: 7%;
    padding-left: 7%;
    color: #008000;
}