<div class="item">
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>{{nomeRua}}</mat-card-title>
            <mat-card-subtitle>{{tipoImovel}}</mat-card-subtitle>
            <mat-card-subtitle>{{bairroEestado}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p>{{teste}}</p>
            <mat-card-actions align="end">
                <button mat-button>Like</button>
            </mat-card-actions>
        </mat-card-content>
        
        <mat-card-footer class="footer">
            <strong> R$ {{valor}} </strong>
           
        </mat-card-footer>
        
    </mat-card>    
    
    
</div>
