.card{
    width: 40%;
    height: 45%;
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}
.divCard{
    height: 100%;
    padding-left: 40%;
    padding-top: 5%;
    background-color: #eaeaea;
}

.button {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.botaoLogin{
    width: 50%;
}
.imgPredio{
    padding-left: 25%;
    padding-right: 15%;
    width: 52%;
    height: 50%;
}