<div class="divCard">
    <mat-card class="card">
        <mat-card-title>{{imovel.rua}}</mat-card-title>
        
        <mat-card-content>
            <p>{{imovel.tipoImoveis}} {{imovel.bairro}}</p>
        </mat-card-content>
        
        
        <img mat-card-image class="imgPredio" src="../../../../assets/imgPredio2.jpg">
        <mat-card-content>
            <p>{{imovel.estado}} {{imovel.cidade}} {{imovel.bairro}} - {{imovel.cep}} {{imovel.complemento}}</p>
        </mat-card-content>
        
        <mat-card-content>
            <strong> R$ {{imovel.valorNegociado}} </strong>
        </mat-card-content>
        <div class="button">
            <button (click)="alugaImovel()" type="submit" class="botaoLogin" mat-raised-button color="primary" [disabled]="!usuarioLogado || imovel.reservado">Alugar</button>
        </div>
        <div class="button" *ngIf="ehCorretor">
            <button (click)="removeImovel()" type="submit" class="botaoLogin" mat-raised-button color="primary">Excluir</button>    
        </div>
    </mat-card> 
</div>
